.home-pancake {
  --masthead-height: 20em;
  grid-auto-rows: 60em;
  grid-template-columns: 1fr 1fr;
}

.home-sticky {
  position: sticky;
}

div.home-pancake-items:nth-child(n + 3) {
  margin-top: 30em;
}

@media only screen and (max-width: 992px) { //Large
  .home-pancake {
    --masthead-height: 0;
    grid-auto-rows: 0;
    grid-template-columns: none;
  }
  .home-sticky {
    position: relative;
  }
  div.home-pancake-items:nth-child(n + 3) {
    margin-top: 5em;
  }
}
