#contactBar {
  margin-top: -9em;
  padding: 7em 0 7em 0;
}

h4 {
  font-size: 5em;
  font-weight: 900;
}

footer {
  margin-top: 20em;
}

@media only screen and (max-width: 768px) {
  #contactBar {
    padding: 2em;
  }
  h4 {
    font-size: 2em;
  }
}
