.serviceCard {
  cursor: pointer;

  div[style] {
    width: fit-content;
  }
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 576px) {
  .serviceCard:not(:last-child) {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
  .serviceCard:nth-child(1) {
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
}

@media (min-width: 768px) {
  .serviceCard {
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
  .serviceCard:not(:last-child) {
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
}
