<div class="container" style="padding-top: 8em">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="row h-100 d-flex align-content-center">
        <div class="col-12">
          <h1 class="lh-sm">Votre <span class="text-span" id="typeIt"></span><br> sur mesure</h1>
        </div>
        <div class="col-12 mt-3 mb-4">
          <p class="fs-5">Libérez le potentiel de votre entreprise avec nos solutions numériques innovantes.</p>
        </div>
        <div class="col-12">
          <button (click)="openContactDialog()" class="p-4" color="primary" mat-flat-button>Contactez-nous</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <ng-lottie
        [options]="{path: '/assets/lottie/rocket-purple.json'}"
        [styles]="{maxWidth: '80%'}"
        width="30em"
      >
      </ng-lottie>
    </div>
  </div>
  <div class="row" style="margin-top: 9em">
    <div class="row m-0 justify-content-center d-flex flex-column">
      <div class="col d-flex justify-content-center text-center align-self-center flex-wrap">
        <!--        SERVICE ITEMS-->
        <section *ngFor="let service of services; let i = index"
                 class="pe-auto serviceCard p-4 col-12 col-sm-6 col-md-4 border-bottom"
                 routerLink="{{service.link}}">
          <div [ngSwitch]="i" class="mb-3">
            <svg
              *ngSwitchCase="0"
              class="bi bi-browser-firefox"
              fill="#FACA7A"
              height="50"
              viewBox="0 0 16 16"
              width="50"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M13.384 3.408c.535.276 1.22 1.152 1.556 1.963a7.98 7.98 0 0 1 .503 3.897l-.009.077a8.533 8.533 0 0 1-.026.224A7.758 7.758 0 0 1 .006 8.257v-.04c.016-.363.055-.724.114-1.082.01-.074.075-.42.09-.489l.01-.051a6.551 6.551 0 0 1 1.041-2.35c.217-.31.46-.6.725-.87.233-.238.487-.456.758-.65a1.5 1.5 0 0 1 .26-.137c-.018.268-.04 1.553.268 1.943h.003a5.744 5.744 0 0 1 1.868-1.443 3.597 3.597 0 0 0 .021 1.896c.07.047.137.098.2.152.107.09.226.207.454.433l.068.066.009.009a1.933 1.933 0 0 0 .213.18c.383.287.943.563 1.306.741.201.1.342.168.359.193l.004.008c-.012.193-.695.858-.933.858-2.206 0-2.564 1.335-2.564 1.335.087.997.714 1.839 1.517 2.357a3.72 3.72 0 0 0 .439.241c.076.034.152.065.228.094.325.115.665.18 1.01.194 3.043.143 4.155-2.804 3.129-4.745v-.001a3.005 3.005 0 0 0-.731-.9 2.945 2.945 0 0 0-.571-.37l-.003-.002a2.679 2.679 0 0 1 1.87.454 3.915 3.915 0 0 0-3.396-1.983c-.078 0-.153.005-.23.01l-.042.003V4.31h-.002a3.882 3.882 0 0 0-.8.14 6.454 6.454 0 0 0-.333-.314 2.321 2.321 0 0 0-.2-.152 3.594 3.594 0 0 1-.088-.383 4.88 4.88 0 0 1 1.352-.289l.05-.003c.052-.004.125-.01.205-.012C7.996 2.212 8.733.843 10.17.002l-.003.005.003-.001.002-.002h.002l.002-.002a.028.028 0 0 1 .015 0 .02.02 0 0 1 .012.007 2.408 2.408 0 0 0 .206.48c.06.103.122.2.183.297.49.774 1.023 1.379 1.543 1.968.771.874 1.512 1.715 2.036 3.02l-.001-.013a8.06 8.06 0 0 0-.786-2.353Z"/>
            </svg>
            <svg
              *ngSwitchCase="1"
              class="bi bi-google-play"
              fill="#0EA5E9"
              height="50"
              viewBox="0 0 16 16"
              width="50"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M14.222 9.374c1.037-.61 1.037-2.137 0-2.748L11.528 5.04 8.32 8l3.207 2.96 2.694-1.586Zm-3.595 2.116L7.583 8.68 1.03 14.73c.201 1.029 1.36 1.61 2.303 1.055l7.294-4.295ZM1 13.396V2.603L6.846 8 1 13.396ZM1.03 1.27l6.553 6.05 3.044-2.81L3.333.215C2.39-.341 1.231.24 1.03 1.27Z"/>
            </svg>
            <svg
              *ngSwitchCase="2"
              class="bi bi-cloud"
              fill="#38A169"
              height="50"
              viewBox="0 0 16 16"
              width="50"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
            </svg>
          </div>
          <h2 class="fs-5 fw-semibold">{{ service.title }}</h2>
          <p style="color: var(--bs-gray-500)">{{ service.description }}</p>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-primary pt-5" style="margin-top: 8em;">
  <div class="row d-flex flex-column">
    <div class="col-sm-10 col-md-8 al text-center align-self-center">
      <h3 class="fs-1 text-white">Ce que nos clients disent !</h3>
    </div>
    <swiper-container
      #swiper>
      <swiper-slide *ngFor="let review of reviews" class="my-5">
        <div
          class="col-8 col-md-5 col-xl-8 rounded-3 text-center bg-light p-4">
          <img
            [alt]="'Avatar - ' + review.name"
            class="rounded-circle mx-auto"
            height="50"
            src="{{ review.imagePath }}"
            style="width: 70px; height: auto;" width="50">
          <p class="fw-lighter text-gray my-3">“{{ review.textReview }}”</p>
          <p><strong>{{ review.name }} {{ review.firstname }} </strong>
            <br>
            <span
              class="text-gray">
              {{ review.role }} chez
              <a
                [href]="review.website"
                class="text-decoration-none text-gray">
                {{ review.companyName }}
              </a>
            </span>
          </p>
        </div>
      </swiper-slide>
    </swiper-container>
    <div class="col d-flex justify-content-center align-self-center mb-3">
      <button class="p-4" mat-flat-button routerLink="/ajouter-un-avis">Donnez votre avis</button>
    </div>
  </div>
</div>

<app-pancake
  [pancakeConfig]="pancakeConfig"
  [pancakes]="pancakeItems">
</app-pancake>
<div class="container" style="margin-top: 8em">
  <div class="row justify-content-center">
    <div class="col text-center">
      <h3 class="fs-1">Note sur l'entreprise</h3>
    </div>
  </div>
  <div class="row justify-content-evenly mt-5">
    <div class="col-5 col-xl-2">
      <a href="https://twitter.com/BugProg_Nantes">
        <img
          alt="Chef d'entreprise BugProg Studio - Adrien DERACHE"
          class="w-100 h-auto rounded-circle"
          height="1600"
          ngSrc="assets/images/pro1_black.webp"
          width="1600">
      </a>
    </div>
    <div class="col-11 col-xl-7 p-4">
      <p class="fs-5 lh-base">
        BugProg Studio est une micro-entreprise du numérique.
        Mon objectif principal est de fournir des solutions durables et pratiques à long terme. <br>
        Je pense que la protection de la vie privée est un droit humain fondamental.
        C'est pour cela que je travaille étroitement avec l'industrie européenne du cloud pour vous offrir le maximum de
        transparence et de confiance.
      </p>
    </div>
  </div>
</div>
