<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-10 col-md-2 px-0 collapse collapse-horizontal overflow-hidden show" id="sidebar">
      <div class="my-4 text-center">
        <h5 class="offcanvas-title">Admin Panel</h5>
      </div>
      <div class="text-center text-sm-start min-vh-100 w-100" id="sidebar-menu">
        <a class="btn btn-light text-start w-100 my-1" routerLink="contact-form" routerLinkActive="active">
          <svg class="bi bi-person-lines-fill mx-3"
               fill="currentColor"
               height="24"
               viewBox="0 0 16 16"
               width="24"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
          </svg>
          Formulaire de contact
        </a>
        <a class="btn btn-light text-start w-100 my-1" routerLink="banner" routerLinkActive="active">
          <svg
            class="bi bi-info-circle mx-3"
            fill="currentColor"
            height="24"
            viewBox="0 0 16 16"
            width="24"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path
              d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
          </svg>
          Banner
        </a>
      </div>
    </div>
    <main class="col-sm col border-start ps-md-2 pt-2">
      <button
        class="btn"
        data-bs-target="#sidebar"
        data-bs-toggle="collapse"
        type="button">
        <svg
          class="bi bi-list"
          fill="currentColor"
          height="30"
          viewBox="0 0 16 16"
          width="30"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            fill-rule="evenodd"/>
        </svg>
      </button>
      <p class="lead">A powerful tool made with love</p>
      <hr>
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
