<div class="container" style="padding-top: 8em">
  <app-big-hero
    [isButton]="true"
    buttonLink="/"
    imagePath="/assets/images/websites.svg"
    [height]="661"
    subtitle="Créez votre présence en ligne avec style et professionnalisme grâce à notre service de création de site internet."
    textButton="Échanger avec un expert"
    title="Développez votre activité en ligne"
    [width]="876"
    imageAlt="Construction d'un site internet">
  </app-big-hero>
  <app-workflow
    [items]="workflowItems"
    [metadata]="workflowData">
  </app-workflow>
  <div class="row mt-5 justify-content-center">
    <h2 class="fs-1">Nos solutions web</h2>
    <div class="row mt-4 justify-content-center gap-1">
      <div class="shadow-sm border-1 col-md-7 p-5 rounded-3" id="webSolution">
        <div class="row justify-content-end">
          <img alt="Représentation d'un site internet" src="/assets/images/heatmap.svg" style="width: 25em;">
        </div>
        <h3 class="fs-2 mt-3">Création de site vitrine <br>& e-commerce</h3>
        <p class="text-gray">BugProg Studio vous accompagne dans la création de votre site internet.
          Nous nous adaptons à toutes vos exigences pour vous offrir le meilleur.
        </p>
        <button
          routerLink="site-vitrine-et-e-commerce"
          class="p-3"
          color="primary"
          mat-flat-button>
          Plus d'informations
        </button>
      </div>
      <div class="shadow-sm border-1 col-md-8 col-xl-4 p-5 rounded-3" id="domainSolution">
        <div class="row justify-content-end">
          <img
            alt="Nom de domaine"
            height="505"
            src="/assets/images/domain_names.svg"
            style="height: 13.5em; width: auto;"
            width="789">
        </div>
        <h3 class="fs-2 mt-3">Nom de domaine</h3>
        <p class="text-gray">Nous vous aidons à contrôler votre identité en ligne avec un domaine personnel.</p>
      </div>
      <div class="shadow-sm border-1 col-md-8 col-xl p-5 rounded-3" id="SEOSoltion">
        <div class="row justify-content-end">
          <img
            alt="Moteurs de recherche Qwant Google Bing"
            height="539"
            ngSrc="/assets/images/search_engines.svg"
            style="height: 12em; width: auto"
            width="872">
        </div>
        <h3 class="fs-2 mt-3">Optimisation SEO</h3>
        <p class="text-gray">Pas de visibilité sans référencement !</p>
      </div>
      <div class="shadow-sm border-1 col-md-8 col-xl p-5 rounded-3" id="analyticsSolution">
        <div class="row justify-content-end">
          <img
            alt="Analyse temps réel"
            height="609"
            ngSrc="/assets/images/real_time_analytics.svg"
            style="height: 12em; width: auto"
            width="698">
        </div>
        <h3 class="fs-2 mt-3">Outil d'analyse</h3>
        <p class="text-gray">
          Garder un œil sur les performances de votre site internet !
          Nous vous aidons à prendre en main les outils d'analyse.
        </p>
      </div>
      <div class="shadow-sm border-1 col-md-8 col-xl p-5 rounded-3" id="securitySolution">
        <div class="row justify-content-end">
          <img
            alt="Site we sécurisé"
            height="519"
            ngSrc="/assets/images/security.svg"
            style="height: 12em; width: auto"
            width="598">
        </div>
        <h3 class="fs-2 mt-3">Certificat SSL</h3>
        <p class="text-gray">
          Nous ne négligeons pas la sécurité ! Nous contruisons les sites internets autour d'une politique de
          cyber-défense.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-primary mt-5 pt-4 pb-4">
  <div class="row">
    <div class="row mx-auto justify-content-center d-flex flex-column mb-4">
      <div class="col-sm-10 col-md-8 text-center align-self-center">
        <h2 class="fs-1 text-white">Hébergez vos données où vous le souhaitez</h2>
        <p class="text-white">En Europe ou directement dans vos locaux c'est vous qui voyez !</p>
      </div>
      <div class="col-12 col-md-10 align-self-center d-flex justify-content-around">
        <section *ngFor="let host of hostItems">
          <a [href]="host.link">
            <img [alt]="host.imageAlt" [ngSrc]="host.imagePath" class="host-images rounded-circle" height="200"
                 width="200">
          </a>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid gap-5 m-0">
  <div class="row flex-column flex-column gap-5">
    <div class="col">
      <app-pancake
        [pancakeConfig]="pancakeConfigSEO"
        [pancakes]="pancakeItemsSEO">
      </app-pancake>
    </div>
    <div class="col">
      <app-pancake
        [pancakeConfig]="pancakeConfigAnalytics"
        [pancakes]="pancakeItemsAnalytics">
      </app-pancake>
    </div>
    <div class="col">
      <app-achievement
        [achievements]="achievements">
      </app-achievement>
    </div>
    <div class="col">
      <app-faq
        [faqItems]="faqItems">
      </app-faq>
    </div>
  </div>
</div>
