<div class="container h-100 text-center">
  <div class="row h-100 d-flex justify-content-center d-flex align-items-center">
    <div class="col-12 col-md-8 col-xl-4">
      <div class="shadow rounded-3 p-3">
        <img alt="BugProg Studio Logo" class="mb-5" src="/assets/images/BugProg_Studio.webp" style="width: 15em">
        <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
          <div class="vstack gap-2 col-11 mx-auto">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                formControlName="email"
                matInput placeholder="Ex. pat@example.com"
                type="email">
              <mat-error
                *ngIf="loginForm!.get('email')?.hasError('email') && !loginForm!.get('email')?.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="loginForm!.get('email')?.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Mot de passe</mat-label>
              <input
                formControlName="password"
                matInput
                type="password">
              <mat-error *ngIf="loginForm!.get('password')?.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
              <mat-error>
                {{ messageError }}
              </mat-error>
            </mat-form-field>
            <button [disabled]="isLoading" class="p-4" color="primary" mat-flat-button type="submit">Se conecter
            </button>
            <button class="p-4" color="secondary" mat-flat-button routerLink="/">Retour Site-Web</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
