<div class="container">
  <div class="row d-flex flex-column align-content-center">
    <div *ngFor="let form of forms" class="col-11 col-md-6 shadow-sm rounded-2 border-1 p-3">
      <ul class="list-unstyled">
        <li><strong>Name: </strong> {{ form.name }} </li>
        <li><strong>Firstname: </strong> {{ form.firstname }} </li>
        <li><strong>Subject: </strong> {{ form.subject }} </li>
        <li><strong>Email: </strong> {{ form.email }} </li>
        <li><strong>Tel: </strong> {{ form.phone_number }} </li>
        <li><strong>Message: </strong> {{ form.message }} </li>
      </ul>
    </div>
  </div>
</div>
