#accordion {
  background-color: rgba(82, 56, 223, 0.03);
}

#accordion img {
  max-height: 40vh;
}

#accordion img:nth-child(n+2) {
  display: none;
}

.accordion-icon {
  width: 50px;
  height: 50px;
}

#partners img {
  filter: grayscale(100%) opacity(0.5);
  height: auto;
}

#partners img:hover {
  filter: none;
}
